header {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: right;
    padding: 10px;
    list-style-type: none;
    font-size: 12px;
  }
  
img{
    float: left;
}
section{
    margin: 10% 10% 2% 10%;
    background-color: white;
    padding: 3%;
}
body{
    margin: 0px;
}
h1{
    text-align: center;
}
div{
    border-bottom: 1px solid #cdcdcd;
    font-size: 12px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}